@import "../../themes/index.scss";

.container {

    .nav {
        background-color: $text;

        .bar {
            display: flex;
            justify-content: space-between;

            .logo {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                gap: 10px;
                margin: 10px 10px 10px 0;
            }

            .btns {

                .btnscontainer {
                    display: flex;
                    gap: 10px;
                }

                .btn {
                    color: $Background-white;
                    border-color: $principal;
                }

                .btn:hover {
                    background-color: $hovers;
                    color: $text;
                }
            }

            @media(max-width: 754px) {
                .btns {
                    display: none;
                }
            }
        }
    }



}

@media(max-width:460px) {
    .logoname {
        display: none;
    }
}